* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: calc(12px + 0.300625vw);
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 7vh;
}
.wrapper {
  min-height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

/*NAVIGATION*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: #e6ebf9;
  box-shadow: 0px -3px 18px 0px #32276d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-top: -0.3%;
  margin-left: 4%;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #5844bb;
}
.logo a:hover {
  color: #ce5141;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 4%;
}
.navigation li {
  list-style-type: none;
  background: inherit;
  display: flex;
  list-style-type: none;
  width: 30%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 1.5%;
  gap: 1rem;
}
.navigation a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #5844bb;
  padding: 0.3rem 0.8rem;
}

.navigation a:hover {
  color: #ce5141;
  border-radius: 8px;
}

.noshow {
  visibility: hidden;
}

/*TASKS*/
.tasks-wrapper {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.tasks-wrapper h2 {
  color: #5844bb;
  margin-top: 3%;
}

.image {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  z-index: 1;
}

.task-img {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.task-img img {
  width: 100%;
  height: auto;
}

.add {
  padding: 0.3rem 1rem;
  background-color: #ce5141;
  border-radius: 25px;
  margin-right: 2%;
  margin-top: 3%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.add a {
  background-color: #a33425;
  color: white;
}

.add:hover {
  background-color: rgb(94, 30, 30);
  color: white;
}

#tasks-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
}
#tasks {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  z-index: 0;
}

.task {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 3px 9px 1px #4d4382;
}
.image {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  z-index: 1;
}

.task-img {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.task-img img {
  width: 100%;
  height: auto;
}

.edit-and-remove-buttons {
  position: absolute;
  margin-top: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.edit-btn a {
  text-decoration: none;
}
.remove-btn {
  cursor: pointer;
}

.fa {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.fa:hover {
  text-shadow: 3px 3px 5px black;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #fefffe;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  color: #300ea2;
  font-size: 0.6rem;
  margin-top: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #251a4b;
  padding: 1%;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 2.5rem;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 0% 6%;
  gap: 0.5rem;
  font-size: 0.8rem;
}
.info h2 {
  color: #9137e5;
  font-weight: bold;
  font-size: 0.95rem;
  margin-top: 3%;
}
.info p {
  font-size: 0.8rem;
  font-weight: bold;
}

.description {
  height: 120px;
  margin-bottom: 3%;
}

.description h2 {
  margin-bottom: 2%;
}

.description p {
  font-size: 0.75rem;
  margin-top: 5%;
  text-align: justify;
}
.assignee {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 3%;
}
.a-image {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  margin-top: 7%;
  width: 100%;
}

.as-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.as-img img {
  width: 100%;
}

.a-name p {
  font-size: 0.9rem;
}

.date {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 5%;
}

.date p {
  font-size: 1rem;
}

.completed-button {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.comp-btn {
  display: flex;
  justify-content: center;
  padding: 0.8rem 2rem;
  width: 6rem;
  background-color: #ce5141;
  cursor: pointer;
}
.completed-button p {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 7% 0;
  font-size: 0.7rem;
}

.comp-btn:hover {
  background-color: rgb(143, 29, 29);
}

/*ADD TASKS*/
#add-modal {
  display: none;
  width: 100%;
  min-height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.89);
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-modal-content {
  background-image: linear-gradient(
    to right bottom,
    #e6ebf9,
    #e3e8f8,
    #e1e5f7,
    #dee1f5,
    #dcdef4,
    #d5d6f3,
    #cecff2,
    #c7c7f1,
    #b8b9f0,
    #a9acef,
    #9a9fed,
    #8992ec
  );
  box-shadow: 2px 4px 15px 0px #251a4b;
  border: 2px solid rgb(201, 191, 231);
  border-radius: 15px;
  padding: 2.5% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 2rem;
  width: 20rem;
}

#close-add-modal {
  position: absolute;
  top: -3%;
  right: -15%;
  cursor: pointer;
}

#addForm {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: rgb(32, 9, 94);
}

input[type="file"] {
  color: rgb(97, 10, 179);
  cursor: pointer;
}

.add-form-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-form {
  width: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-form img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(176, 161, 216);
}

#addImagePreview {
  width: 80%;
}

.add-form-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.add-form-part input {
  padding: 2.5%;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 0.8rem;
}
.add-form-part input:focus {
  outline: none;
}

#team {
  padding: 2%;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  font-size: 0.8rem;
}

.add-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4rem;
  color: rgb(32, 9, 94);
}

#addBtn {
  width: 5rem;
  padding: 0.4rem 1.7rem;
  display: flex;
  justify-content: center;
  background-color: #6b55d8;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

#addCancelBtn {
  width: 5rem;
  padding: 0.4rem 1.4rem;
  display: flex;
  justify-content: center;
  background-color: #ce5141;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

#addBtn:hover,
#addCancelBtn:hover {
  box-shadow: 0px 0px 11px 1px #3b1159;
  cursor: pointer;
}

.add-error {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgb(202, 32, 2);
  display: none;
}

#add-error-message {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(179, 25, 25);
  display: none;
}
#chooseAssignee {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8% 4%;
  border-radius: 10px 10px 0 0;
}

#chooseAssignee p {
  color: rgb(32, 9, 94);
  font-size: 0.9rem;
}

#assignBtn {
  padding: 0.5rem 0.6rem;
  background-color: #6b55d8;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
}
#assignBtn:hover {
  background-color: #171750;
  cursor: pointer;
}

#chosenAssignee {
  background-color: rgb(241, 241, 241);
  border-radius: 0 0 10px 10px;
  padding: 2.5%;
}

/*ASSIGN MODAL*/
.assign-modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(255, 255, 255, 0.637);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assign-modal {
  background-image: linear-gradient(
    to right bottom,
    #e6ebf9,
    #e3e8f8,
    #e1e5f7,
    #dee1f5,
    #dcdef4,
    #d5d6f3,
    #cecff2,
    #c7c7f1,
    #b8b9f0,
    #a9acef,
    #9a9fed,
    #8992ec
  );
  box-shadow: 2px 4px 15px 0px #251a4b;
  border: 2px solid rgb(201, 191, 231);
  border-radius: 15px;
  padding: 2.5% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  gap: 1rem;
  width: 20rem;
}
.assignee-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 95%;
  margin-bottom: 5%;
}
.assignee-list li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
  padding: 5% 6% 5% 8%;
  width: 100%;
  align-items: center;
}
.assignBtnContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.assignDoneBtn {
  margin: auto;
  padding: 0.4rem 1.6rem;
  background-color: #6b55d8;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
}
.assignDoneBtn:hover {
  box-shadow: 0px 0px 11px 1px #3b1159;
  cursor: pointer;
}
.assign:hover {
  background-color: rgb(14, 104, 104);
  color: white;
}

.assignCancelBtn {
  padding: 0.4rem 1.2rem;
  background-color: #ce5141;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  margin: auto;
}
.assignCancelBtn:hover {
  box-shadow: 0px 0px 11px 1px #3b1159;
  cursor: pointer;
}
.chosenAssigneeContainer {
  width: 100%;
  display: flex;

  align-items: center;
  padding: 3% 0;
  gap: 1rem;
}
.chosenAssigneeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chosenAssigneeImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.chosenAssigneeImg img {
  width: 100%;
}

.assigneeProfileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.assigneeProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.assigneeProfileImg img {
  width: 100%;
}

.assigneeProfileName {
  display: flex;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  accent-color: rgb(214, 74, 9);
}

/*EDIT TASK MODAL*/

#edit-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.89);
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit-modal-content {
  background-image: linear-gradient(
    to right bottom,
    #e6ebf9,
    #e3e8f8,
    #e1e5f7,
    #dee1f5,
    #dcdef4,
    #d5d6f3,
    #cecff2,
    #c7c7f1,
    #b8b9f0,
    #a9acef,
    #9a9fed,
    #8992ec
  );
  box-shadow: 2px 4px 15px 0px #251a4b;
  border: 2px solid rgb(201, 191, 231);
  border-radius: 15px;
  padding: 2.5% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  gap: 2rem;
  width: 20rem;
}

#close-edit-modal {
  position: absolute;
  top: -3%;
  right: -15%;
  cursor: pointer;
}

#editForm {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: rgb(32, 9, 94);
}

input[type="file"] {
  color: rgb(97, 10, 179);
  cursor: pointer;
}

.edit-form-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-form {
  width: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-form img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(176, 161, 216);
}

#editImagePreview {
  width: 80%;
}

.edit-form-part {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-form-part input {
  padding: 2.5%;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 0.8rem;
}
.edit-form-part input:focus {
  outline: none;
}

.edit-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  color: rgb(32, 9, 94);
}

#editBtn {
  width: 5rem;
  padding: 0.4rem 1.7rem;
  display: flex;
  justify-content: center;
  background-color: #6b55d8;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

#editCancelBtn {
  width: 5rem;
  padding: 0.4rem 1.4rem;
  display: flex;
  justify-content: center;
  background-color: #ce5141;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
}

#editBtn:hover,
#editCancelBtn:hover {
  box-shadow: 0px 0px 11px 1px #3b1159;
  cursor: pointer;
}

.edit-error {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgb(202, 32, 2);
  display: none;
}

#edit-error-message {
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgb(179, 25, 25);
  display: none;
}
.edit-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 4%;
  border-radius: 10px 10px 0 0;
}

.edit-choose p {
  color: rgb(32, 9, 94);
  font-size: 0.9rem;
}
#editChosenAssignee {
  background-color: rgb(255, 253, 250);
  border-radius: 0 0 10px 10px;
  padding: 0 2% 3% 3%;
}
#editContImage {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
#editContImageImg {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
}
#editContImageImg img {
  width: 100%;
  height: auto;
}

#editAssignBtn {
  padding: 0.5rem 0.6rem;
  background-color: #6b55d8;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
}
#editAssignBtn:hover {
  background-color: #171750;
  cursor: pointer;
}

#chosenAssignee {
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  padding: 2.5%;
}
#editContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*REMOVE TASK MODAL*/
#remove-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(136, 136, 136, 0.733);
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#close-remove-modal {
  position: absolute;
  top: 4%;
  right: 3%;
  cursor: pointer;
}

.remove-modal-content {
  width: 30rem;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  gap: 3rem;
  background-image: linear-gradient(
    to right bottom,
    #e6ebf9,
    #e3e8f8,
    #e1e5f7,
    #dee1f5,
    #dcdef4,
    #d5d6f3,
    #cecff2,
    #c7c7f1,
    #b8b9f0,
    #a9acef,
    #9a9fed,
    #8992ec
  );
  padding: 8.5% 2%;
  border-radius: 10px;
}
.remove-modal-content h2 {
  text-align: center;
  color: #ce5141;
  width: 100%;
}

.remove-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

#removeYesBtn {
  padding: 0.5rem 2rem;
  background-color: aliceblue;
  color: #562b86;
  border-radius: 5px;
}

#removeNoBtn {
  padding: 0.5rem 2.2rem;
  background-color: aliceblue;
  color: #562b86;
  border-radius: 5px;
}

#removeYesBtn:hover,
#removeNoBtn:hover {
  box-shadow: 0px 0px 11px 1px #3b1159;
  cursor: pointer;
}

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
  .description p {
    font-size: 0.85rem;
  }
  .assign-modal {
    width: 30%;
    margin-bottom: 10%;
  }
  .assignee-list {
    width: 85%;
  }
  .assignDoneBtn {
    padding: 0.5rem 1.8rem;
    font-size: 0.8rem;
  }
  .assignCancelBtn {
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
  }
  .comp-btn {
    width: 7rem;
  }
  .completed-button p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .assign-modal {
    width: 50%;
    margin-top: 5%;
  }
  .assignee-list {
    width: 65%;
  }
  .remove-modal-content {
    margin-top: 25%;
    padding: 12% 2%;
  }
  .add-modal-content {
    width: 40%;
    margin-top: 6%;
    padding: 5% 0;
  }
  #addForm {
    width: 80%;
  }
  .edit-modal-content {
    width: 40%;
    margin-top: 6%;
    padding: 5% 0;
  }
  #editForm {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .line {
    width: 28px;
    height: 2px;
    background-color: #5844bb;
    margin: 6px;
  }

  nav {
    position: relative;
    height: 7vh;
    position: fixed;
    top: 0;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 3%;
    z-index: 2;
  }

  .navigation {
    position: fixed;
    background: black;
    width: 100%;
    height: 100vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }

  .navigation li {
    margin: auto;
    justify-content: center;
    transition: all 0.5s ease 0.2s;
  }
  .navigation li:first-child {
    margin-top: 20%;
  }
  .navigation li:last-child {
    margin-bottom: 60%;
  }

  .navigation li a {
    font-size: 1.2rem;
    color: white;
    transition: 0.2s;
  }

  .navigation li a:hover {
    color: #ce5141;
  }

  .navigation.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
    pointer-events: all;
  }
  .navigation.open li {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation.open li:first-child {
    margin-top: 20%;
  }
  .navigation.open li:last-child {
    margin-bottom: 60%;
  }

  li.fade {
    opacity: 1;
    margin: 0;
  }
  .logo {
    z-index: 2;
    margin-top: -1%;
  }
  .employees-wrapper {
    margin-top: 3%;
  }

  .add-modal-content,
  .edit-modal-content {
    width: 45%;
    margin-top: 15%;
  }
  #addForm,
  #editForm {
    width: 80%;
  }
  .add-buttons {
    gap: 2rem;
  }
  #addBtn,
  #addCancelBtn,
  #assignBtn,
  #editAssignBtn {
    font-size: 1rem;
  }

  #chooseAssignee p,
  .edit-choose p {
    font-size: 1rem;
  }

  #editBtn,
  #editCancelBtn {
    font-size: 1rem;
  }

  .add-form-part input,
  .edit-form-part input {
    font-size: 1rem;
  }

  .remove-modal-content {
    padding: 15% 2%;
  }

  #tasks {
    margin-top: 10%;
  }
  .assign-modal {
    width: 55%;
    margin: 6% 0 5% 0;
  }
  .assignee-list {
    width: 70%;
    margin-top: 2%;
  }

  .assignBtnContainer {
    margin-bottom: 2%;
  }
  .tasks-wrapper {
    margin-top: 6%;
  }
  .info h2 {
    margin-top: 0%;
  }
  .description {
    margin-bottom: 0%;
  }
}
@media screen and (max-width: 540px) {
  .add-modal-content,
  .edit-modal-content {
    width: 70%;
    margin-top: 15%;
  }
  .assign-modal {
    margin-top: 10%;
    width: 70%;
  }
  .assignee-list {
    width: 75%;
  }

  .remove-modal-content {
    width: 85%;
    margin-top: 30%;
    padding: 20% 2%;
    font-size: 0.8rem;
    gap: 1.5rem;
  }

  .remove-buttons {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    justify-content: center;
  }
  .add-modal-content,
  .edit-modal-content {
    width: 80%;
    margin-top: 25%;
  }
  .assign-modal {
    width: 90%;
  }
  .assignee-list {
    width: 90%;
    margin-top: 5%;
  }
  .assignBtnContainer {
    margin-bottom: 5%;
  }
  .remove-modal-content {
    margin-top: 50%;
  }

  .remove-buttons {
    gap: 1rem;
  }

  #close-add-modal,
  #close-edit-modal {
    top: 2%;
    right: 4%;
  }
}
